<div class="trescE">
    1. Aby policzyć wszystkie wiersze tabeli Koty należy użyć polecenia:
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: A
</div>
<div id="odpa" class="odpgood">
    <strong>A. </strong>SELECT COUNT(*) FROM Koty
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>SELECT ROWNUM() FROM Koty
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>SELECT COUNT(Koty) AS ROWNUM
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>SELECT COUNT(ROWNUM) FROM Koty
</div>
<div class="trescE">
    2. Jak nazywa się element oznaczony znakiem zapytania w strukturze platformy .NET, który umożliwia tworzenie
    własnych aplikacji z użyciem frameworków i zamianę kompilowanego kodu pośredniego na kod maszynowy procesora
    zainstalowanego w komputerze?
</div>
<div class="obrazek">
    <img class="img-responsive" src="e14/39.jpg" alt="">
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: D
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>Infrastruktura językowa (CLI)
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>Biblioteka klas bazowych (BCL)
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>Wspólne środowisko programistyczne (CLP)
</div>
<div id="odpa" class="odpgood">
    <strong>D. </strong>Wspólne środowisko uruchomieniowe (CLR)
</div>

<div class="trescE">
    3. Wymaganiem aplikacji internetowej jest, aby ta była wykonywana po stronie klienta. W którym języku należy
    zaimplementować tę aplikację?
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: D
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>Perl
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>PHP
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>Python
</div>
<div id="odpa" class="odpgood">
    <strong>D. </strong>JavaScript
</div>