<div class="trescE">
    1. Aby policzyć wszystkie wiersze tabeli Koty należy użyć polecenia:
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: A
</div>
<div id="odpa" class="odpgood">
    <strong>A. </strong>SELECT COUNT(*) FROM Koty
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>SELECT ROWNUM() FROM Koty
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>SELECT COUNT(Koty) AS ROWNUM
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>SELECT COUNT(ROWNUM) FROM Koty
</div>