<div class="trescE">
    1. Aby policzyć wszystkie wiersze tabeli Koty należy użyć polecenia:
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: A
</div>
<div id="odpa" class="odpgood">
    <strong>A. </strong>SELECT COUNT(*) FROM Koty
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>SELECT ROWNUM() FROM Koty
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>SELECT COUNT(Koty) AS ROWNUM
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>SELECT COUNT(ROWNUM) FROM Koty
</div>
<div class="trescE">
    3. Wymaganiem aplikacji internetowej jest, aby ta była wykonywana po stronie klienta. W którym języku należy
    zaimplementować tę aplikację?
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: D
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>Perl
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>PHP
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>Python
</div>
<div id="odpa" class="odpgood">
    <strong>D. </strong>JavaScript
</div>
<div class="trescE">
    5. Polecenie SQL o treści: UPDATE artykuly SET cena = cena * 0.7 WHERE kod = 2; oznacza
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: B
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>w tabeli artykuly obniża wartość każdego pola cena o 30% dla wszystkich artykułów
</div>
<div id="odpa" class="odpgood">
    <strong>B. </strong>w tabeli artykuly obniża wartość każdego pola cena dla którego pole kod jest równe 2
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>wprowadzenie w tabeli artykuly nowych pól cena i kod
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>wprowadzenie w tabeli artykuly pola o nazwie cena ze znacznikiem kod
</div>
<div class="trescE">
    7. Testy wydajnościowe mają na celu sprawdzenie
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: C
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>zdolności oprogramowania do działania w warunkach wadliwej pracy sprzętu
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>zdolności oprogramowania do działania w warunkach wadliwej pracy systemu
</div>
<div id="odpa" class="odpgood">
    <strong>C. </strong>stopnia spełnienia wymagań wydajnościowych przez system lub moduł
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>ciągu zdarzeń, w którym prawdopodobieństwo każdego zdarzenia zależy jedynie od wyniku
    poprzedniego
</div>
<div class="trescE">
    9. Polecenie w języku SQL ALTER TABLE USA... ma za zadanie
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: B
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>usunięcie tabeli USA
</div>
<div id="odpa" class="odpgood">
    <strong>B. </strong>modyfikację tabeli USA
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>nadpisanie starej tabeli USA
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>utworzenie nowej tabeli USA
</div>
<div class="trescE">
    10. Który język skryptowy ogólnego przeznaczenia należy wykorzystać do tworzenia aplikacji WWW, zagnieżdżanych w
    języku HTML i uruchamianych po stronie serwera?
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: C
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>C#
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>Perl
</div>
<div id="odpa" class="odpgood">
    <strong>C. </strong>PHP
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>JavaScript
</div>
<div class="trescE">
    11. Baza danych zawiera tabelę uczniowie z polami: imie, nazwisko, klasa. Aby odnaleźć imiona i nazwiska tych
    uczniów, których nazwiska rozpoczynają się literą M, należy zastosować polecenie SQL
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: B
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>SELECT nazwisko, imie FROM uczniowie WHERE nazwisko IN "M%";
</div>
<div id="odpa" class="odpgood">
    <strong>B. </strong>SELECT nazwisko, imie FROM uczniowie WHERE nazwisko LIKE "M%";
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>SELECT nazwisko, imie FROM uczniowie ORDER BY nazwisko = "M%";
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>SELECT nazwisko, imie FROM uczniowie ORDER BY nazwisko IN "M%";
</div>
<div class="trescE">
    13. Tabela filmy zawiera klucz główny id oraz klucz obcy rezyserID. Tabela rezyserzy zawiera klucz główny id.
    Obydwie tabele połączone są relacją jeden po stronie rezyserzy do wielu po stronie filmy. Aby w kwerendzie SELECT
    połączyć tabele filmy i rezyserzy, należy zapisać
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: C
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>... filmy JOIN rezyserzy ON filmy.id = rezyserzy.id ...
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>... filmy JOIN rezyserzy ON filmy.id = rezyserzy.filmyID ...
</div>
<div id="odpa" class="odpgood">
    <strong>C. </strong>... filmy JOIN rezyserzy ON filmy.rezyserID = rezyserzy.id ...
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>... filmy JOIN rezyserzy ON filmy.rezyserID = rezyserzy.filmyID ...
</div>
<div class="trescE">
    15. Funkcją języka PHP tworzącą ciasteczko jest
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: D
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>createcookie()
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>echocookie()
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>addcookie()
</div>
<div id="odpa" class="odpgood">
    <strong>D. </strong>setcookie()
</div>
<div class="trescE">
    16. W języku SQL wykorzystywanym przez bazę danych MySQL atrybut UNIQUE polecenia CREATE TABLE
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: D
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>Wymusza unikatowe nazwy pól tabeli
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>Blokuje możliwość wpisania wartości NULL
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>Jest stosowany tylko w przypadku pól liczbowych
</div>
<div id="odpa" class="odpgood">
    <strong>D. </strong>Jest stosowany, jeśli wartość w kolumnie nie mogą się powtarzać
</div>
<div class="trescE">
    17. W programie Microsoft Access formą zabezpieczeń dostępu do danych związaną z tabelą i kwerendą jest
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: B
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>stosowanie makr
</div>
<div id="odpa" class="odpgood">
    <strong>B. </strong>przypisanie uprawnień
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>określanie przestrzeni tabel
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>wprowadzenie limitów przestrzeni dyskowej
</div>
<div class="trescE">
    18. Która ze zdefiniowanych funkcji w języku PHP jako wynik zwraca połowę kwadratu wartości przekazanej?
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: C
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>function licz($a) { echo $a*$a/2; }
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>function licz($a) { return $a/2; }
</div>
<div id="odpa" class="odpgood">
    <strong>C. </strong>function licz($a) { return $a*$a/2; }
</div>
<div id="odpd" class="odpbad">
    <strong>D. </strong>function licz($a) { echo $a/2; }
</div>
<div class="trescE">
    19. W języku PHP zmienna typu float przyjmuje wartości
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: D
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>logiczne
</div>
<div id="odpb" class="odpbad">
    <strong>B. </strong>nieliczbowe
</div>
<div id="odpc" class="odpbad">
    <strong>C. </strong>tylko całkowite
</div>
<div id="odpa" class="odpgood">
    <strong>D. </strong>zmiennoprzecinkowe
</div>
<div class="trescE">
    20. Komentarz w języku JavaScript rozpoczyna się od znaku lub znaków
</div>
<div class="rezultatN">
    Nie udzielono odpowiedzi! Poprawna odpowiedź to: C
</div>
<div id="odpa" class="odpbad">
    <strong>A. </strong>&lt;!--
</div>
<div id="